<% include ../partials/header %>
    <div class="ui container">
        <h1>WELCOME TO THE CELEBRITY GAME: <span><%= game.teamOne %></span> vs. <span><%= game.teamTwo %></span> </h1>
        <h2>Your PIN is: <span><%= game.pin %></span> </h2>
        
        <h1><%= game.teamOne %></h1>
            <% players.forEach(player=> { %>
                
                <% if (player.teamName == game.teamOne) { %>
                    <li> <%= player.username %>  </li>
                <% } %>
            <% }); %>
        <h4>against</h4>
        <h1><%= game.teamTwo %></h1>
            <% players.forEach(player=> {  %>
                <% if (player.teamName == game.teamTwo) { %>
                    <li> <%= player.username %> </li>
                <% } %>
            <% }) %>
        
    </div>
    <% if (!currentUser) { %>
    
    <div class="ui container">
        <h4>Sign Up! </h4>
        <form class="ui form" action="/games/<%= game._id %>/players" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <div class="inline fields">
                <label>Which team do you want to join?</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="teamName" value='<%= game.teamOne %>'>
                        <label>
                            <%= game.teamOne %>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="teamName" value='<%= game.teamTwo %>'>
                        <label>
                            <%= game.teamTwo %>
                        </label>
                    </div>
                </div>
            </div>
            <button>Submit</button>
        </form>
    </div>
    <% } %>

    <% if (currentUser && currentUser.names.length === 0) { %>
        <div class="ui container">
            <form class="ui form" action="/games/<%= game._id %>/names" method="POST">
                <% for (var i = 0; i < game.entryNumber; i++) { %>
                    <input id="celebInput" type="text" name="name[]" placeholder="Celebrity Name <%= i + 1 %>">
                <% } %>
                
                    <button>Submit</button>
            </form>
        </div>
    <% } %>
<% include ../partials/footer %>
